
{% extends "base.html" %}
{% load static %}


<!DOCTYPE html>
<html lang="en">


{% block title %}
<title> Home</title>
{% endblock %}
<!-- body -->
<body>
	{% block content %}

    <!--banner start -->
    <div class="banner-main">
    	<div class="container">
           <div id="main_slider" class="carousel slide" data-ride="carousel">
           <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
    		    <div class="titlepage-h1">
    	        <h1 class="bnner_title">Welcome To<br>
    	        <span style="color: #10b5fa">Content Writing Services</span></h1>
    	        <p class="long_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking </p>
    		    </div>
    		    <div class="btn_main">
    			<button type="button" class="btn btn-dark btn-lg"><a href="{% url 'contact' %}">Contact</a></button>
            </div>
        </div>
    <div class="carousel-item">
    		<div class="titlepage-h1">
    	       <h1 class="bnner_title">Welcome To<br>
    	       <span style="color: #10b5fa">Content Writing Services</span></h1>
    	       <p class="long_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking </p>
    		</div>
    		<div class="btn_main">
    			<button type="button" class="btn btn-dark btn-lg">Contact</button>
    		</div>
    </div>
    <div class="carousel-item">
    		<div class="titlepage-h1">
    	       <h1 class="bnner_title">Welcome To<br>
    	       <span style="color: #10b5fa">Content Writing Services</span></h1>
    	       <p class="long_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking </p>
    		</div>
    		<div class="btn_main">
    			<button type="button" class="btn btn-dark btn-lg">Contact</button>
    		</div>
    </div>
  </div>
         <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
        <a class="carousel-control-next" href="#main_slider' " role="button" data-slide="prev">
                <i class="fa fa-angle-right"></i>
            </a>
    </div>
</div>
</div>




        {% include 'polls/reuseservice.html' with p=object_list%}







<!--banner end -->

    <!--quote_section start -->
    <div class="quote_section">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6">
    				<h1 class="quote_text">Quote for Today</h1>
    				<p class="loan_text">It is a long established fact that a reader will be distracted by the readable content of a page </p>
    			</div>
    		    <div class="col-md-6">
    			    <div class="quote_btn">
    			        <button type="button" class="btn btn-dark btn-lg">Get A Quote</button>
    		        </div>
    		    </div>
    		</div>
    	</div>
    </div>

    <!--quote_section end -->


    {% endblock %}

</body>
</html>