{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <!--services start-->
<div class="section_service_main">
    <div class="section_service_2">
        <h1 class="service_text">Our Service</h1>
    </div>
    <div class="service_main">
    	<div class="container">
    		<div class="row">
    		   {% for page in p %}
    		    			<div class="col-md-6">
    		    				<div class="written_text">
    		    					<div class="like_icon"><img src="{{page.image}}"></div>
    		    					<h1 class="written_text">{{page.title|safe}}</h1>
    		    					<p>{{ page.content|safe }}</p>
    		    				</div>
    		    			</div>
                            {% endfor %}

    		    </div>
    		</div>
        </div>


    	</div>
	</div>
</div>
    <!--services end -->



</body>
</html>