{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    {% block title %}
    <title>service</title>
    {% endblock %}
</head>
<!-- body -->
<body>
{% block content %}

  {% include 'polls/reuseservice.html' with p=object_list %}


   {% endblock %}
</body>
</html>