{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- templates/home.html -->
<h1>Message board homepage</h1>


{% include 'polls/reuseservice.html' with p=object_list%}












</body>
</html>